@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Praise&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*:focus {
    outline: none !important;
    border-color: inherit !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
  }

  input[type=text]{border-color: transparent !important;}
  input[type=password]{border-color: transparent !important;}